* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: italic;
  font-size: 1rem;
  text-shadow: none;
  font-weight: 500;
}

:root {
  --padding-val: 0;
  --bg-color: #fff;
  --bg-color-left: var(--bg-color);
  --scrollbar-color: #0000ff;
  --font: "JetBrains Mono";
  /* 2px 8px 6px rgba(255, 255, 255, 0.2),
    0px -5px 35px rgba(0, 0, 0, 0.3); */
  --td: 2px 8px 6px rgba(0, 0, 0, 0.3), 0px -5px 35px rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: fit-content;
  position: relative;
  background-color: var(--bg-color);
  font-family: var(--font);
}

body::-webkit-scrollbar {
  display: none;
}
/* .body_bg {
  position: absolute;
  inset: 0;
  background-image: url("https://zed.dev/_next/static/media/noise.0e24d0e5.png");
  background-repeat: repeat;
  background-size: 180px;
  opacity: 0.035;
} */

.layout,
.layout__main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 100;
}

.layout__main {
  padding: 10px;
  /* background-color: #e8e8e8; */
}

.layout__main_left {
  width: 380px;
  flex-shrink: 0;
  height: fit-content;
  position: relative;
  background-color: #e8e8e8;
  margin-left: 10px;
  padding: 10px 20px;
  overflow: hidden;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset; */
}

.layout__main_right {
  width: calc((100% - 380px - 10px));
  height: 100%;
  background-color: #e8e8e8;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset; */
}

.layout__main_left ul {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.layout__main_left .nav {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.html__left ul {
  padding: 0;
  width: initial !important;
}

.layout__main_left li {
  list-style: none;
  height: 35px;
  /* border-radius: 5px; */
  /* border: 1px solid transparent; */
  overflow: hidden;
  position: relative;
}
/* 
.layout__main_left li + li {
  margin-top: 5px;
} */

.layout__main_left ul li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 35px;
  /* padding-left: 15px;
  padding-right: 15px; */
  color: #333;
}

/* .layout__main_left ul li.active {
  border: 1px solid #323232;
} */

.layout__main_left ul li.active a {
  color: var(--scrollbar-color);
  /* text-decoration: line-through; */
  font-weight: 500;
  /* font-weight: 600; */
}

.layout__main_left:not(.html__left) ul li:not(.active):hover a {
  text-decoration: underline;
}

/* 编辑器 start */
.md {
  flex-direction: column;
  padding: 30px 40px;
  white-space: normal;
  /* margin-right: 20px; */
}

.md *:not(h1) {
  margin-top: 15px !important;
  font-family: var(--font);
}

.md h1,
.md h2,
.md h3,
.md h4 {
  font-size: 24px;
  font-weight: 500;
  position: relative;
  color: #333;
  text-shadow: var(--td);
}

strong {
  font-weight: 600;
  text-shadow: var(--td);
}

.md .time {
  color: #999;
  font-size: 12px;
  margin-top: 10px !important;
  padding-bottom: 10px;
  border-bottom: 1px solid #e8e8e8;
}

.token.entity,
.token.operator,
.token.url,
.token.variable {
  background: initial;
}

.md h2 {
  font-size: 20px;
}

.md h2::before {
  content: "H2";
  position: absolute;
  top: 50%;
  left: -25px;
  font-size: 14px;
  text-shadow: none;
  transform: translateY(-50%);
  color: var(--scrollbar-color);
  font-weight: 600;
}

.md h3 {
  font-size: 18px;
}

.md h3::before {
  content: "H3";
  position: absolute;
  top: 50%;
  left: -20px;
  font-size: 14px;
  text-shadow: none;
  transform: translateY(-50%);
  color: var(--scrollbar-color);
  font-weight: 600;
}

.md h4::before {
  content: "H4";
  position: absolute;
  top: 50%;
  left: -20px;
  font-size: 14px;
  text-shadow: none;
  transform: translateY(-50%);
  color: var(--scrollbar-color);
  font-weight: 600;
}

.md p {
  line-height: 2;
  letter-spacing: 1px;
  color: #333;
}

.md code[class*="language-"] {
  background: initial;
  box-shadow: initial;
  /* font-style: italic; */
  line-height: 2;
}

.md img {
  max-width: 600px;
  display: block;
  /* background-color: #fff; */
  margin: 0 auto;
  /* border: 1px solid #ddd; */
  /* border: 1px solid #ddd;
  border-radius: 10px; */
}

.md blockquote {
  position: relative;
  padding: 5px 0;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #e8e8e8;
  box-sizing: border-box;
  /* border: 1px solid #999; */
  border-left: 0;
  /* border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; */
}

.md blockquote::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: var(--scrollbar-color);
}

.md a:not(.token) {
  position: relative;
  transition: 0.5s;
  color: var(--scrollbar-color);
  text-decoration: none;
}

.md a:not(.token):hover {
  text-decoration: underline;
}

.md p code,
.md li code,
.md h3 code,
.md h2 code {
  color: var(--scrollbar-color);
  padding: 0 5px;
  font-weight: 500;
  text-shadow: var(--td);
}

.md code[class*="language-"] a[href],
.md pre[class*="language-"] a[href] {
  color: rgb(75, 83, 97);
  pointer-events: none;
}

.md table {
  width: 100%;
  /* background-color: var(--bg-color); */
  border: 1px solid #999;
  border-collapse: collapse;
  color: #333;
}

.md table thead tr {
  height: 50px;
}

.md table thead tr th {
  text-align: center;
  border: 1px solid #999;
  color: #fff;
}

.md table tbody tr td {
  text-align: center;
  padding: 10px;
  line-height: 2;
  border: 1px solid #999;
}

.md ul > li {
  list-style: none;
  padding-left: 20px;
  position: relative;
  line-height: 2;
  color: #333;
}

.md ol {
  list-style: decimal;
}

.md ol > li {
  margin-left: 30px;
  line-height: 2;
  color: #333;
}

.md ol > li::marker {
  float: left;
  font-weight: 600;
  color: #0000ff;
}

.md ul > li::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 2px;
  width: 6px;
  height: 6px;
  background-color: var(--scrollbar-color);
  border-radius: 100%;
}

.md ul > li > ul > li::before {
  background-color: #faad14;
}

.md .token.space:before,
.md .token.lf:before {
  content: "";
}

.md > :last-child {
  margin-bottom: 0 !important;
}

.code-toolbar {
  /* border: 1px solid #323232; */
  /* border-radius: 5px; */
  overflow: hidden;
}

.md .code-toolbar *,
.md blockquote * {
  margin-top: 0 !important;
}

pre[class*="language-"]:after,
pre[class*="language-"]:before {
  content: none;
}

pre[class*="language-"] {
  padding: 0;
  /* padding-top: 10px;
  padding-bottom: 10px; */
}

div.code-toolbar > .toolbar {
  right: 10px !important;
}

div.code-toolbar > .toolbar > .toolbar-item:nth-child(1) {
  display: none;
}

pre[class*="language-"] > code {
  border: 0;
}

.copy-to-clipboard-button span {
  font-size: 14px;
  text-transform: lowercase;
  color: #333 !important;
}

.toolbar-item + .toolbar-item {
  margin-left: 10px;
}

.code-toolbar pre {
  margin-bottom: 0;
}

div.code-toolbar > .toolbar > .toolbar-item > a,
div.code-toolbar > .toolbar > .toolbar-item > button,
div.code-toolbar > .toolbar > .toolbar-item > span {
  background-color: #fff;
  border: none;
  box-shadow: none;
  padding-bottom: 3px;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

/* .copy-to-clipboard-button {
  background-color: var(--scrollbar-color) !important;
  box-shadow: none !important;
} */

.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url {
  background-color: transparent !important;
}

.layout__main_left svg {
  width: 20px;
  height: 20px;
  margin-right: 3px;
}

.layout__main_left li[data-path] {
  cursor: pointer;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  border-radius: 40px;
}

.layout__main_left h3 {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.layout__main_left h3 svg {
  width: 16px;
  height: 16px;
  margin: 0;
  margin-top: 1px;
  transition: 0.5s;
}

.layout__main_left h3 + ul {
  margin-left: 20px;
  height: auto;
}

.layout__main_left h3.isshow + ul {
  height: 0;
  overflow: hidden;
}

/* .layout__main_left h3 svg {
  transform: rotate(360deg);
} */

.layout__main_left h3.isshow svg:nth-child(1) {
  transform: rotate(-90deg);
  transition: 0.5s;
  transform-origin: center;
}

.html__left {
  overflow-x: hidden;
  padding: 10px;
}

.html__left ul li {
  border-radius: 0;
}

.html__left ul {
  width: fit-content;
  height: fit-content;
  overflow: initial;
}

.html__left + .layout__main_right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 40px);
  margin-top: 20px;
}

.html__left + .layout__main_right > img {
  max-width: 80%;
  max-height: 80%;
}

.monaco-editor,
.monaco-editor-background,
.monaco-editor .margin {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.monaco-editor .scroll-decoration {
  box-shadow: none !important;
}

.layout__main_nav {
  position: fixed;
  left: 20px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  background-color: #777;
  border-radius: 100%;
  font-size: 13px;
}

.layout__main_nav a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  line-height: 60px;
  text-align: center;
}

.layout__main_nav a svg {
  vertical-align: middle;
}

pre[class*="language-"] > code {
  border-width: 5px;
}

.line-numbers .line-numbers-rows {
  /* top: -5px;
  border-right: 1px solid rgba(198, 202, 210, 0.1); */
  /* top: -15px;
  bottom: -15px;
  border-right: 1px solid rgba(198, 202, 210, 0.1);
  padding-top: 10px; */
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  /* background-color: #f5f5f5; */
  /* border: 1px solid rgba(198, 202, 210, 0.6); */
  background: initial;
  background-color: #f5f5f5;
  /* background-color: #171717; */
  overflow-y: hidden;
}

/* .token.atrule,
.token.attr-value,
.token.class-name,
.token.keyword {
  color: var(--scrollbar-color);
} */

table thead {
  background-color: #171717;
}

.img-hover {
  position: fixed;
  inset: 0;
  background-color: #e8e8e8;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-hover img {
  max-width: 80%;
  max-height: 80%;
}

@media (max-width: 768px) {
  .layout,
  .layout__main {
    flex-direction: column;
  }
  .layout__main_right {
    width: 100%;
  }
  .md img {
    max-width: 100%;
  }
  .layout__main_left {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }
  .md h1::before,
  .md h2::before,
  .md h3::before,
  .md h4::before {
    content: none;
  }
  .md {
    padding: 10px;
  }
}

@media (max-width: 768px) {
  * {
    font-size: 14px;
  }
  .md h1,
  .md h2,
  .md h3,
  .md h4 {
    font-size: 22px;
  }

  .md h2 {
    font-size: 18px;
  }

  .md h3 {
    font-size: 16px;
  }
  .md p {
    word-wrap:break-word;
  }
  .md .time + * {
    margin-top: 0 !important;
  }
}
