* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: italic;
  font-size: 1rem;
  text-shadow: none;
  font-family: "JetBrains Mono";
}

:root {
  --td: 2px 8px 6px rgba(0, 0, 0, 0.3), 0px -5px 35px rgba(255, 255, 255, 0.2);
  --color01: brown;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color01);
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: fit-content;
  position: relative;
  font-family: var(--font);
  color: #fff;
  background-color: #171717;
  padding: 10px 0;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #212121;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

main>*+* {
  margin-top: 20px;
}

main p code,
main li code,
main h3 code,
main h2 code {
  padding: 0 5px;
  font-weight: 500;
  text-shadow: var(--td);
}

main ul>li {
  list-style: none;
  padding-left: 20px;
  position: relative;
  line-height: 2;
  color: #f5f5f5;
}

main ol {
  list-style: decimal;
}

main ol>li {
  margin-left: 30px;
  line-height: 2;
  color: #f5f5f5;
}

main ol>li::marker {
  float: left;
  font-weight: 600;
  color: var(--color01);
}

main ul>li::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 2px;
  width: 6px;
  height: 6px;
  background-color: var(--color01);
  border-radius: 100%;
}

main ul>li>ul>li::before {
  background-color: #faad14;
}

main .token.space:before,
main .token.lf:before {
  content: "";
}

main> :last-child {
  margin-bottom: 0 !important;
}

main>img {
  width: auto;
  display: block;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.copy-to-clipboard-button span {
  font-size: 14px;
  text-transform: lowercase;
  color: #fff !important;
}

div.code-toolbar>.toolbar>.toolbar-item>a,
div.code-toolbar>.toolbar>.toolbar-item>button,
div.code-toolbar>.toolbar>.toolbar-item>span {
  background-color: #000;
  border: none;
  box-shadow: none;
  padding-bottom: 3px;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

div.code-toolbar>.toolbar>.toolbar-item:nth-child(1) {
  display: none;
}

div.code-toolbar>.toolbar {
  right: 10px !important;
  top: 10px !important;
}

code[class*="language-"] {
  background: initial;
  box-shadow: initial;
  line-height: 2;
  font-family: "JetBrains Mono";
}

pre[class*="language-"] {
  margin: 0 !important;
  background: #171717;
}

main header {
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
}

main header h1 {
  font-size: 25px;
  margin-bottom: 5px;
}

main header .time {
  font-size: 12px;
  color: #666;
}

aside {
  position: fixed;
  top: 0px;
  left: -380px;
  width: 380px;
  bottom: 0;
  background-color: #171717;
  transition: 0.5s;
}

aside .switch {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: brown;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

aside .switch svg {
  width: 35px;
  height: 35px;
}

.showNav {
  left: 0;
  transition: 0.5s;
}

#nav ul {
  width: 100%;
  height: 100%;
  overflow: auto;
  list-style: none;
}

#nav ul li {
  list-style: none;
  padding: 8px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  width: 100%;
}

#nav ul li a:hover {
  text-decoration: underline;
}

#nav ul li.active {
  background-color: var(--color01);
}

main a {
  color: var(--color01);
  text-decoration: none;
}

main a:hover {
  text-decoration: underline;
}

.img-hover {
  position: fixed;
  inset: 0;
  background-color: #212121;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-hover img {
  max-width: 95%;
  max-height: 95%;
}