* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-style: italic;
  font-size: 16px;
  text-shadow: none;
}

:root {
  --padding-val: 0;
  --bg-color: rgb(24, 24, 24);
  --bg-color-left: var(--bg-color);
  --scrollbar-color: #0cf;
  --font: "JetBrains Mono";
  --bg-src: url("https://www.transparenttextures.com/patterns/nice-snow.png");
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: fit-content;
  background-color: var(--bg-color);
}

.layout,
.layout__main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.layout__main_left {
  width: 300px;
  height: 100%;
  position: relative;
  padding: 10px 0;
  border-right: 1px solid rgb(43, 43, 43);
}

.left__border {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  background-color: transparent;
  /* cursor: ew-resize; */
}

.layout__main_right {
  flex: 1;
  height: 100%;
}

.layout__main_left ul {
  width: 100%;
}

.layout__main_left .nav {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  padding-left: 15px;
}

/* .html__left {
  padding: 10px;
} */

.html__left ul {
  padding: 0;
  width: initial !important;
}

.layout__main_left li {
  list-style: none;
}

.layout__main_left li + li {
  margin-top: 5px;
}

/* .layout__main_left ul li { */
/* list-style-type: none;
  border-radius: 32px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent; */
/* } */

.layout__main_left ul li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 5px 15px;
  line-height: 1.5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.5s;
  font-size: 14px;
}

.layout__main_left ul li.active {
  background-color: #333;
  color: #fff;
}

.layout__main_left ul li.active a {
  color: #fff;
}

.layout__main_left:not(.html__left) ul li:not(.active):hover {
  text-decoration: underline;
  transition: 0.5s;
}

/* 编辑器 start */
.md {
  flex-direction: column;
  padding: 20px 0;
  white-space: normal;
  margin-right: 20px;
}

.md *:not(h1) {
  margin-top: 20px !important;
  font-family: var(--font);
}

.md h1,
.md h2,
.md h3,
.md h4 {
  font-size: 22px;
  font-family: var(--font);
}

.md h1 {
  padding-bottom: 10px;
}

.md h2 {
  font-size: 20px;
}

.md h3 {
  font-size: 18px;
}

.md h4 {
  font-size: 16px;
}

.md p {
  line-height: 2;
  letter-spacing: 1px;
  /* font-style: italic; */
}

.md code[class*="language-"] {
  background: initial;
  box-shadow: initial;
  /* font-style: italic; */
  line-height: 2;
}

.md pre[class*="language-"] {
  background: initial;
  margin: 0;
}

.md img {
  max-width: 700px;
  display: block;
  background-color: #fff;
  margin: 0 auto;
}

.md blockquote {
  position: relative;
  padding: 5px 0;
  padding-left: 20px;
  background-color: rgba(0, 0, 0, 0.1);
}

.md blockquote::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: #fff;
}

.md a:not(.token) {
  position: relative;
  transition: 0.5s;
  color: var(--scrollbar-color);
  text-decoration: none;
  font-family: var(--font);
}

.md a:not(.token):hover {
  text-decoration: underline;
}

.md p code,
.md li code,
.md h3 code,
.md h2 code {
  color: var(--scrollbar-color);
  padding: 0 5px;
  font-family: var(--font);
  font-weight: 400;
}

.md code[class*="language-"] a[href],
.md pre[class*="language-"] a[href] {
  color: rgb(75, 83, 97);
  pointer-events: none;
}

.md table {
  width: 100%;
  /* border-radius: 32px; */
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.2) 0px -50px 36px -28px inset;
}

.md table thead tr {
  height: 50px;
}

.md table thead tr th {
  text-align: center;
}

.md table tbody tr td {
  text-align: center;
  padding: 10px;
  line-height: 1.5;
}

.md ul > li {
  list-style: none;
  padding-left: 20px;
  position: relative;
  line-height: 2;
}

.md ol {
  list-style: decimal;
}

.md ol > li {
  margin-left: 33px;
  line-height: 2;
}

.md ol > li::marker {
  float: left;
  font-weight: 600;
}

.md ul > li::before {
  content: "";
  position: absolute;
  top: 12.5px;
  left: 2px;
  width: 7px;
  height: 7px;
  background-color: #fff;
  border-radius: 100%;
}

.md ul > li > ul > li::before {
  background-color: #faad14;
}

.md .token.space:before,
.md .token.lf:before {
  content: "";
}

.md > :last-child {
  margin-bottom: 0 !important;
}

code[class*="language-"],
pre[class*="language-"] {
  font-family: var(--font) !important;
}

.code-toolbar {
  /* background-color: #006989; */
  /* padding: 0 0 0 5px;
  border-radius: 15px; */
  /* border: 1px solid rgb(56, 56, 56); */
  /* background-color: rgb(229 225 218); */
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.2) 0px -50px 36px -28px inset;
}

.md .code-toolbar *,
.md blockquote * {
  margin-top: 0 !important;
}

pre[class*="language-"]:after,
pre[class*="language-"]:before {
  content: none;
}

div.code-toolbar > .toolbar {
  right: 10px !important;
  display: none;
}

.toolbar-item + .toolbar-item {
  margin-left: 10px;
}

.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url {
  background-color: transparent !important;
}

/* 编辑器 end */

/* html start */
.layout__main_left li {
  font-family: var(--font);
}
.layout__main_left svg {
  width: 20px;
  height: 20px;
  margin-right: 3px;
}

.layout__main_left li[data-path] {
  cursor: pointer;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  border-radius: 40px;
  font-size: 15px;
  font-weight: 300;
  font-size: 14px;
}

.layout__main_left h3 {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #569cd6;
  font-weight: 300;
  font-size: 15px;
}

.layout__main_left h3 svg {
  width: 16px;
  height: 16px;
  margin: 0;
  margin-top: 1px;
  transition: 0.5s;
}

.layout__main_left h3 + ul {
  margin-left: 20px;
  height: auto;
}

.layout__main_left h3.isshow + ul {
  height: 0;
  overflow: hidden;
}

/* .layout__main_left h3 svg {
  transform: rotate(360deg);
} */

.layout__main_left h3.isshow svg:nth-child(1) {
  transform: rotate(-90deg);
  transition: 0.5s;
  transform-origin: center;
}

.html__left {
  overflow-x: hidden;
  padding: 10px;
  height: 100vh;
}

.html__left ul li {
  border-radius: 0;
}

.html__left ul {
  width: fit-content;
  height: fit-content;
  overflow: initial;
}

.html__left + .layout__main_right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh);
}

.html__left + .layout__main_right > img {
  max-width: 80%;
  max-height: 80%;
}

.monaco-editor,
.monaco-editor-background,
.monaco-editor .margin {
  background-color: rgb(24, 24, 24) !important;
}

.monaco-editor .scroll-decoration {
  box-shadow: none!important;
}

.layout__main_nav {
  position: fixed;
  left: 20px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  background-color: #777;
  border-radius: 100%;
  font-size: 13px;
  font-family: var(--font);
}

.layout__main_nav a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  line-height: 60px;
  text-align: center;
}

.layout__main_nav a svg {
  vertical-align: middle;
}

pre[class*="language-"] > code {
  border-width: 5px;
}

.line-numbers .line-numbers-rows {
  top: -4px;
}
