* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono";
  font-weight: 500;
}

:root {
  --padding-val: 10px;
  --bg-color: #0d0d0d;
  --bg-color-left: rgb(37, 37, 38);
  --scrollbar-color: rgb(8, 76, 207);
  --font: "JetBrains Mono";
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  padding: 2px;
}

.card {
  width: calc((100% - 10px) / 4);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-style: italic;
  transition: 0.5s;
  background-color: #212121;
  padding: 50px 0;
  border-radius: 5px;
}

.card:hover {
  transition: all 0.3s;
  opacity: 0.7;
}

.aside {
  position: fixed;
  top: 10px;
  left: -300px;
  bottom: 10px;
  width: 300px;
  background-color: #212121;
  transition: 0.3s;
  padding: 20px;
  border-radius: 5px;
}

.aside h2 {
  color: #fff;
  font-style: italic;
  margin-bottom: 20px;
  width: 100%;
  font-size: 18px;
}

.aside li {
  font-style: italic;
  color: #fff;
  list-style: none;
  font-weight: normal;
}

.aside li + li {
  margin-top: 10px;
}

.aside__switch {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: #212121;
  left: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.aside.show {
  left: 10px;
  transition: 0.3s;
}
