* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --padding-val: 10px;
  --bg-color: #f2f3f5;
  --bg-color-left: rgb(37, 37, 38);
  --scrollbar-color: rgb(8, 76, 207);
  --font: "JetBrains Mono";
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--bg-color);
}

.layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.layout ul {
  width: 100%;
  padding: 20px 0;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(5, calc((100% - 120px) / 5));
  place-content: flex-start center;
  gap: 20px;
}

.home ul {
  place-content: center center;
}

.layout ul li {
  list-style-type: none;
  position: relative;
  text-align: center;
}

.layout ul li span {
  display: block;
  position: absolute;
  top: 5px;
  left: -8px;
  width: 25px;
  height: 25px;
  background-color: rgb(8, 76, 207);
  border-radius: 100%;
  color: #fff;
  font-family: var(--font);
  text-align: center;
  line-height: 25px;
  font-size: 12px;
  transform: translateY(-50%);
  transition: 0.5s;
  font-style: italic;
  box-shadow: var(--clay-shadow-outset, 8px 8px 16px 0 rgba(0, 0, 0, 25%)),
    inset var(--clay-shadow-inset-primary, -8px -8px 16px 0 rgba(0, 0, 0, 25%)),
    inset
      var(
        --clay-shadow-inset-secondary,
        8px 8px 16px 0 hsla(0deg, 0%, 100%, 20%)
      ) !important;
}

/* start */
.card {
  height: 82px;
  color: #f9f9f9;
  padding: 16px;
  transition: 0.3s;
  background-color: #fff;
  border-radius: 5px;
  /* box-shadow: rgba(0, 0, 0, 0.4) 0px -50px 36px -28px inset; */
  /* border: 1px solid rgba(198, 202, 210, 0.6); */
}

.card:hover {
  transform: translateY(-10px);
  transition: 0.3s;
  border-color: rgb(8, 76, 207);
}

.card a {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: rgb(75, 83, 97);
  font-family: var(--font);
  font-style: italic;
}

.card:hover a {
  color: rgb(8, 76, 207);
}
