* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --padding-val: 10px;
  --bg-color: rgb(101, 129, 71);
  --bg-color-left: rgb(37, 37, 38);
  --scrollbar-color: rgb(8, 76, 207);
  --font: "JetBrains Mono";
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--bg-color);
  background-image: url("https://www.transparenttextures.com/patterns/diagonales-decalees.png");
}

.layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.layout ul {
  width: 100%;
  padding: 50px;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(5, 190px);
  place-content: center center;
  gap: 50px;
}

.layout ul li {
  list-style-type: none;
  position: relative;
  text-align: center;
}

.layout ul li span {
  display: block;
  position: absolute;
  top: 5px;
  left: -8px;
  width: 30px;
  height: 30px;
  background-color: #000;
  border-radius: 100%;
  color: #fff;
  font-family: var(--font);
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  transform: translateY(-50%);
  transition: 0.5s;
  font-style: italic;
  box-shadow: var(--clay-shadow-outset, 8px 8px 16px 0 rgba(0, 0, 0, 25%)),
    inset var(--clay-shadow-inset-primary, -8px -8px 16px 0 rgba(0, 0, 0, 25%)),
    inset
      var(
        --clay-shadow-inset-secondary,
        8px 8px 16px 0 hsla(0deg, 0%, 100%, 20%)
      ) !important;
}

/* start */
.card {
  width: 190px;
  height: 254px;
  color: #f9f9f9;
  padding: 16px;
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: rgba(0, 0, 0, 0.4) 0px -50px 36px -28px inset;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.3s;
}

.card a {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #f9f9f9;
  font-family: var(--font);
  font-style: italic;
}
