* {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #212121;
}
input {
  display: none;
}
label {
  margin-bottom: 20px;
  background-color: aquamarine;
  padding: 20px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}
label:hover {
  background-color: antiquewhite;
  transition: 0.5s;
}
#result {
  margin-top: 20px;
  color: #fff;
}
