button {
    outline: none;
    border: none;
    font-size: 20px;
    transform: rotate(130deg);
    box-sizing: border-box;
}

::placeholder {
    color: gray;
    font-size: 12px;
}

a {
    transform: scale(0.5);
    font-size: 1000px;
}