<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= key %></title>
    <link rel="shortcut icon" href="../code.svg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.34.1/min/vs/editor/editor.main.css"
    />
    <link rel="stylesheet" href="../css/edit.css" />
  </head>
  <body>
    <div class="layout">
      <div class="layout__main">
        <div class="layout__main_left html__left">
          <%- nav %>
          <div class="left__border"></div>
        </div>
        <div class="layout__main_right"></div>
        <div class="layout__main_nav">
          <a href="<%- preview %>" target="_blank">PREVIEW</a>
        </div>
      </div>
    </div>
    <pre id="pre" style="display: none"><%= JSON.stringify(datas, null, 2) %></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.34.1/min/vs/loader.js"></script>
    <script src="../js/edit.js"></script>
  </body>
</html>
