<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
    <link rel="shortcut icon" href="../code.svg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/prism.css" />
    <link rel="stylesheet" href="../css/edit.css" />
  </head>
  <body>
    <div class="layout">
      <div class="layout__main">
        <div class="layout__main_left">
          <ul>
            <%- navHTML %>
          </ul>
          <div class="left__border"></div>
        </div>
        <div class="layout__main_right <%- isMd ? 'md' : '' %>">
          <h1><%- title %></h1>
          <%- html %>
        </div>
      </div>
    </div>
    <script defer src="../js/prism.min.js"></script>
    <script>
      const leftBorder = document.querySelector(".left__border");
      const resizer = document.querySelector(".layout__main_left");
      const resizable = document.querySelector(".layout__main_right");
      leftBorder.addEventListener("mousedown", initResize);
      function initResize(e) {
        e.preventDefault();
        document.addEventListener("mousemove", startResizing);
        document.addEventListener("mouseup", stopResizing);
      }
      function startResizing(e) {
        const resizerRect = resizer.getBoundingClientRect();
        const resizableRect = resizable.getBoundingClientRect();
        let newWidth = e.clientX - resizerRect.left;

        if (newWidth < 250) {
          newWidth = 250;
        } else if (newWidth > 750) {
          newWidth = 750;
        }
        resizer.style.width = `${newWidth}px`;
      }
      function stopResizing() {
        document.removeEventListener("mousemove", startResizing);
        document.removeEventListener("mouseup", stopResizing);
      }
    </script>
  </body>
</html>
