* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono";
  font-style: italic;
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #772121;
  border-radius: 5px;
}

html,
body {
  height: 100%;
  background-color: #0f0f0f;
}

body {
  padding: 10px;
  min-height: 700px;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10px;
}

.wrapper__left {
  flex: 1;
  height: 100%;
  background-color: #212121;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.wrapper__left_mask {
  position: absolute;
  inset: 0;
  background-color: #212121;
  border-radius: 100px;
  display: none;
}

.wrapper__left_mask_content {
  width: 100%;
  height: calc(100% - 200px);
  margin-top: 100px;
  margin-left: 120px;
  margin-right: 120px;
  overflow: auto;
}

.wrapper__left_mask_close {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-color: #000;
  border-radius: 100%;
  cursor: pointer;
  color: #fff;
  line-height: 40px;
  text-align: center;
  font-size: 15px;
  user-select: none;
}

.wrapper__left_mask_close:active {
  background-color: #0f0f0f;
}

.wrapper__right {
  flex: 1;
  height: 100%;
  background-color: #212121;
  border-radius: 100px;
}

button {
  outline: none;
  border: 0;
  width: 130px;
  height: 45px;
  cursor: pointer;
  background-color: #772121;
  color: #fff;
  border-radius: 45px;
  transition: all 0.3s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

button:active {
  transform: translateY(-5px);
  transition: all 0.3s;
}

textarea {
  border: 0;
  outline: none;
  resize: none;
  width: 500px;
  height: 300px;
  padding: 20px;
  background-color: #772121;
  color: #fff;
  border-radius: 45px;
  line-height: 2;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.wrapper__left_tabs {
  margin-bottom: 20px;
}

#boxUl {
  padding-right: 30px;
}

#boxUl li {
  display: flex;
  justify-content: space-between;
}

#boxUl li + li {
  margin-top: 15px;
}
#boxUl li span {
  display: block;
  width: 40px;
  height: 40px;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  border: 0;
  overflow: hidden;
  border-radius: 100%;
}

.isRed {
  position: relative;
}

.isRed::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(49, 49, 49, 0.9);
}

.isBlue {
  position: relative;
}

.isBlue::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(49, 49, 49, 0.9);
}

.isActive::after {
  content: none;
}

.isRed.isActive {
  background-color: #932323;
}
.isBlue.isActive {
  background-color: rgb(26, 26, 136);
}

.wrapper__left_mask_time {
  position: absolute;
  top: 38px;
  left: 96px;
  color: #fff;
  font-size: 16px;
}
